{% extends 'pointstracker/base_template.html' %}

{% load staticfiles %}

{% block title %}FlyerDR - About{% endblock %}

{% block head_extra%}
<link href="{% static 'pointstracker/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}

{% include 'pointstracker/navbar.html' with page='about' %}

    <div class="container-fluid">
      <div class="row">
     <!--    <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="">Overview</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Analytics</a></li>
            <li><a href="">Export</a></li>
          </ul>
        </div> -->

       {% include 'pointstracker/messages.html' %}

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      
          <div class="row" >
            <div >
              <h3 class="col-md-8"> What is FlyerDR? </h3>
                <p class="col-md-8" >FlyerDR is a platform that help you manage your flight miles.
                </p>
            </div>
          </div>  

          <div class="row" >
            <div >
              <h3 class="col-md-8"> How to use FlyerDR </h3>
                <p class="col-md-8" > You link FlyerDR to your Airline Membership by providing the necessary information of your airline account. 
                You can link FlyerDR with multiply 
                airline accounts as long as these airline membership is all under your name. <a class="button"> link it now? </a>
                </p>
            </div>
          </div>  

          <div class="row" >
            <div >
              <h3 class="col-md-8"> What can FlyerDR do? </h3>
                <p class="col-md-8" > After you link your airline Membership with FlyerDR. You can check the status of your different airline membership all in one page.
                FlyerDR will tell you what is the current balance of your 
                flight credit and which portion of the credit will be experied of what date.
                Even better, FlyerDR will enable you to enter the flight credit into your account if you forgot to show your membership to the airline staff. 
                Also, on the section of <a>Strategy </a> section, FlyerDR
                will teach you the best strategy to manage your flight credit.
                </p>
            </div>
          </div> 
{% endblock %}
