<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
<!-- 		<meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" /> -->

        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/main.css">
     
		 <title>FlyerDR</title>
	</head>
	<body>

    <div class="container"  
    style="position: relative;
    left:80px;
    top:300px;
     ">
      <div class="col-sm-6">
          <div class="hero-unit">
            <h1>FlyerDR</h1>
            <h4>Manage Your Flight Credit</h4>
          </div> 
          <div class="btns">
            <a class="btn btn-large btn-primary" href="">Join FlyerDR</a>
            <a class="btn btn-large btn-primary" href="{% url 'login' %}"> Sign In</a>

          </div>  
      </div> 
    </div>  
	

  </body>





</html>
