{% extends 'pointstracker/base_template.html' %}

{% load staticfiles %}

{% block head_extra %}
<link href="{% static 'pointstracker/css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block footer_js %}
<script src="{% static 'pointstracker/js/docs.min.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'main' %}">FlyerDR</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'main' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>FlyerDR</h1>
              <br> 
              <p>Help you to manage your flight credit</p> 
              <br>
            </div>
          </div>
        </div>
        
        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAGZmZgAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>FlyerDR 是shen</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="item">
          <img src="data:image/gif;base64,R0lGODlhAQABAIAAAFVVVQAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
         <a href="{% url 'about' %}">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
         </a>

  
          <h1><a class="btn btn-default" href="{% url 'about' %}" role="button">What is FlyerDR?</a></h1>
        </div><!-- /.col-lg-4 -->




        <div class="col-lg-4">
           <a href="">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
           </a>
          <h1><a class="btn btn-default" href="{% url 'manage' %}" role="button">Start to use FlyerDR</a>
          </h1>
        </div><!-- /.col-lg-4 -->



        <div class="col-lg-4">
         <a href="">
          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" style="width: 140px; height: 140px;">
         </a>
          <h1><a class="btn btn-default" href="#" role="button">FlyerDR Strategy</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">航空公司所属于的联盟是怎样的一种存在？ </h2>
          <p class="lead">根据国际航空运输协会（IATA）的数字，全球大约有200家民航公司。在这200家公司中，又有三个大的航空联盟，分别为：星空联盟（Star Alliance），天合联盟（SkyTeam Alliance）, 寰宇一家(Oneworld Alliance)
           <br> 
          如果你是这三家联盟中其中任意一家的会员，理论上你可以将累计里程数转换至同联盟内任一成员航空的里程帐户内。
          例如你这次乘坐了国航的飞机，兑换了1000分的积分；第二次你乘坐了深航的飞机，兑换了500分的积分，由于深航和国航都属于星空联盟，那么你可以讲这1500的积分一起使用。
          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">为什么普通人使用航空积分的频率不多？ </h2>
          <p class="lead">
          根据第三方机构的调查显示，每100个经常乘坐飞机的人中，只有27个会在意自己的航空积分（或者说有使用航空积分的习惯have the habbit to use Airline Credit）,只有6个人能叫全3大航空联盟的名字，只有15人会目标明确的根据自己积分选择航空积分。
          <br>
          那么到底是什么让使用航空积分的使用率如此之低呢？
          <br>
          我们分析主要有三个原因：
          <br>
          1.积分转换本身就非常复杂，虽然航空公司虽然推出拿积分换机票的措施初衷是吸引旅客，但如果所有旅客都换旅程，客观上会增加航空运营成本，造成不必要的支出。
          所以航空公司往往会把积分兑换的过程设计的异常复杂，再设计上不同仓位兑换旅程不一样，积分本身也会过期，这样叠加起来会造成旅客的极大困惑，大部分的人会自然的觉得麻烦，于是放弃了这个念头.
          <br>
          2.虽然说同属于一个联盟之内，积分可以互相转换；但客观上不同航空公司来自不同国家，语言上沟通本身就有成本，所以也会造成积分兑换的难度。
          <br>
          3.市场上没有任何一款软件可以方便的帮助乘客管理积分. 
            
          </p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">善用积分可以为你换来多大的利益？</h2>
          <p class="lead">
          从中国往返美国一趟的积分价值3000人民币左右.
          

          </p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="500x500" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIj48cmVjdCB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjI1MCIgeT0iMjUwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjMxcHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NTAweDUwMDwvdGV4dD48L3N2Zz4=">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->



      <!-- FOOTER 
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>© 2014 Company, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
      </footer>

      -->

    </div><!-- /.container -->
{% endblock %}
