{% extends 'pointstracker/base_template.html' %}

{% load staticfiles %}

{% block title%}FlyerDR - Manage{% endblock %}

{% block head_extra %}
    <link href="{% static 'pointstracker/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block footer_js %}
    <script src="{% static 'pointstracker/js/docs.min.js' %}"></script>
    <script src="{% static 'pointstracker/js/tab.js' %}"></script>
{% endblock %}

{% block body %}

{% include 'pointstracker/navbar.html' %}

   <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar"role="tablist" >
            <li class="active" role="presentation">             
              <a href="#overview" role="tab" data-toggle="tab">Overview</a>
            </li>
            <li role="presentation">
              <a href="#enterMembership" role="tab" data-toggle="tab">Link a membership</a>
            </li>
          </ul>
        </div>
       </div> 



       <!--  all the context in three categories will be listed below -->



        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >        
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="overview">

                       <!-- Here will list all the account information you have  -->

                         <!-- the first account you linked -->
                             <div  class="col-sm-8 jumbotron">
                                <form class="form-horizontal" role="form">
                                  <div>
                                      <h2>American Airline </h2>
                                  </div>  

                                  <p> Current Balance on your Account:</p>

                                  <h1>
                                      <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{aa}}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            {{ aa }} points
                                          </div>
                                        </div>
                                  </h1>  

                                 

                              </form>
                          </div>  


                           <div  class="col-sm-8 jumbotron">
                                <form class="form-horizontal" role="form">
                                  <div>
                                      <h2>Delta Airline </h2>
                                  </div>  

                                  <p> Current Balance on your Account:</p>

                                  <h1>
                                      <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{delta}}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            {{delta}} points
                                          </div>
                                        </div>
                                  </h1>  

                                 

                              </form>
                          </div> 



                           <div  class="col-sm-8 jumbotron">
                                <form class="form-horizontal" role="form">
                                  <div>
                                      <h2>Jet Airline </h2>
                                  </div>  

                                  <p> Current Balance on your Account:</p>

                                  <h1>
                                      <div class="progress">
                                          <div class="progress-bar" role="progressbar" aria-valuenow="{{jet}}" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                            {{jet}} points
                                          </div>
                                        </div>
                                  </h1>  

                                 

                              </form>
                          </div> 

                </div>



                <!-- the second section , enter membership -->

 
                <div role="tabpanel" class="tab-pane" id="enterMembership">


                   <!-- for American Airline  -->
            
                  <div  class="col-sm-8 jumbotron">

                      <form class="form-horizontal" role="form" method="post" action="">
                        {% csrf_token %}
                        <div>
                            <h2>American Airline </h2>
                        </div>  

                      <div class="form-group">
                        <label for="inputMembershipID" class="col-sm-2 control-label">Membership ID</label>
                        <div class="col-sm-10">
						  <input type="hidden" name="shortname" value="aa">
                          <input type="text" class="form-control" id="aa_membership" name="id" placeholder="Membership ID number">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="aa_password" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="hidden" name="remeber"> 
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">Link it!</button>
                        </div>
                      
                      </div>
                    </form>
                  </div>  



                  <!-- for Delta -->

                  <div  class="col-sm-8 jumbotron">

                      <form class="form-horizontal" role="form" method="post" action="">
                        {% csrf_token %}
                        <div>
                            <h2>Delta Airline </h2>
                        </div>  

                      <div class="form-group">
                        <label for="inputMembershipID" class="col-sm-2 control-label">Membership ID</label>
                        <div class="col-sm-10">
						  <input type="hidden" name="shortname" value="delta">
                          <input type="text" class="form-control" id="delta_membership" name="id" placeholder="Membership ID number">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="delta_password" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="hidden" name="remeber"> 
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">Link it!</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                         
                        </div>
                      </div>
                    </form>
                  </div>  


                  <!-- for Jet -->

                  <div  class="col-sm-8 jumbotron">

                      <form class="form-horizontal" role="form" method="post" action="">
                        {% csrf_token %}
                        <div>
                            <h2>Jet Airline</h2>
                        </div>  

                      <div class="form-group">
                        <label for="inputMembershipID" class="col-sm-2 control-label">Membership ID</label>
                        <div class="col-sm-10">
						  <input type="hidden" name="shortname" value="jet">
                          <input type="text" class="form-control" id="jet_membership" name="id" placeholder="Membership ID number">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                          <input type="password" class="form-control" id="jet_password" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <div class="checkbox">
                            <label>
                              <input type="hidden" name="remeber"> 
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-default">Link it!</button>
                        </div>
                        <div class="col-sm-offset-2 col-sm-10">
                         
                        </div>
                      </div>
                    </form>
                  </div>  
                </div>






                <!-- the third section , Account management -->


                <div role="tabpanel" class="tab-pane" id="accountManagement">

                  This is the Help Tip Section

                </div>


              </div>

{% endblock %}
