{% extends 'pointstracker/base_template.html' %}

{% load staticfiles %}

{% block title%}FlyerDR - Manage{% endblock %}

{% block head_extra %}
    <link href="{% static 'pointstracker/css/dashboard.css' %}" rel="stylesheet">
{% endblock %}

{% block footer_js %}
    <script src="{% static 'pointstracker/js/docs.min.js' %}"></script>
    <script src="{% static 'pointstracker/js/tab.js' %}"></script>
{% endblock %}

{% block body %}

{% include 'pointstracker/navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-sidebar"role="tablist" >
            <li class="active" role="presentation">
              <a href="#overview" role="tab" data-toggle="tab">Overview</a>
            </li>
            <li role="presentation">
              <a href="#enterMembership" role="tab" data-toggle="tab">Link a membership</a>
            </li>
            <li role="presentation">
              <a href="#accountManagement" role="tab" data-toggle="tab">Accunt management</a>
            </li>
          </ul>

        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" >
          
          <!-- Nav tabs -->
              <!-- <ul class="nav nav-tabs" role="tablist">

                <li role="presentation" class="active">
                  <a href="#home" role="tab" data-toggle="tab">Home</a>
                </li>

                <li role="presentation">
                  <a href="#profile" role="tab" data-toggle="tab">Profile</a>
                </li>

                <li role="presentation">
                  <a href="#messages" role="tab" data-toggle="tab">Messages</a>
                </li>

                <li role="presentation">
                  <a href="#settings" role="tab" data-toggle="tab">Settings</a>
                </li>
              </ul> -->

              <!-- Tab panes -->
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="overview">This is Overview of your account infomoration</div>
                <div role="tabpanel" class="tab-pane" id="enterMembership">You Enter Membership Information</div>
                <div role="tabpanel" class="tab-pane" id="accountManagement">This is Account Management</div>
              </div>
{% endblock %}
