        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'main' %}">FlyerDR</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% if page == 'main' %}class="active"{%endif%}><a href="{% url 'main' %}">Home</a></li>
                <li {% if page == 'about' %}class="active"{%endif%}><a href="{% url 'about' %}">About</a></li>
                <li {% if page == 'contact' %}class="active"{%endif%}><a href="#">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>

